---
import '../../styles/global.css';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, image = '/images/default-og.png', description } = Astro.props;
const refinedTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
const refinedDescription = description ? description : SITE_DESCRIPTION;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" title={SITE_TITLE} href={new URL('rss.xml', Astro.site)} />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{refinedTitle}</title>
<meta name="title" content={refinedTitle} />
<meta name="description" content={refinedDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={refinedTitle} />
<meta property="og:description" content={refinedDescription} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={refinedTitle} />
<meta property="twitter:description" content={refinedDescription} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-HYKZGM0HE0"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-HYKZGM0HE0');
</script>
